
body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-block {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background: green;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.delete {
  border: none;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}
